<div class="mt-2">
    <div
        class="flex items-center gap-1"
        [ngClass]="{
            'text-[#138636]': passwordCriteria().hasUpperCase,
            'text-[#C91432]': !passwordCriteria().hasUpperCase,
        }"
    >
        <mat-icon
            class="icon-size-4"
            [ngClass]="{
                'text-[#138636]': passwordCriteria().hasUpperCase,
                'text-[#C91432]': !passwordCriteria().hasUpperCase,
            }"
            [svgIcon]="
                passwordCriteria().hasUpperCase
                    ? 'check_circle_outline'
                    : 'remove_circle_outline'
            "
        />
        Une lettre majuscule
    </div>
    <div
        class="flex items-center gap-1"
        [ngClass]="{
            'text-[#138636]': passwordCriteria().hasLowerCase,
            'text-[#C91432]': !passwordCriteria().hasLowerCase,
        }"
    >
        <mat-icon
            class="icon-size-4"
            [svgIcon]="
                passwordCriteria().hasLowerCase
                    ? 'check_circle_outline'
                    : 'remove_circle_outline'
            "
            [ngClass]="{
                'text-[#138636]': passwordCriteria().hasLowerCase,
                'text-[#C91432]': !passwordCriteria().hasLowerCase,
            }"
        />
        Une lettre minuscule
    </div>
    <div
        class="flex items-center gap-1"
        [ngClass]="{
            'text-[#138636]': passwordCriteria().hasNumeric,
            'text-[#C91432]': !passwordCriteria().hasNumeric,
        }"
    >
        <mat-icon
            class="icon-size-4"
            [svgIcon]="
                passwordCriteria().hasNumeric
                    ? 'check_circle_outline'
                    : 'remove_circle_outline'
            "
            [ngClass]="{
                'text-[#138636]': passwordCriteria().hasNumeric,
                'text-[#C91432]': !passwordCriteria().hasNumeric,
            }"
        />
        Un chiffre
    </div>
    <div
        class="flex items-center gap-1"
        [ngClass]="{
            'text-[#138636]': passwordCriteria().hasSpecial,
            'text-[#C91432]': !passwordCriteria().hasSpecial,
        }"
    >
        <mat-icon
            class="icon-size-4"
            [svgIcon]="
                passwordCriteria().hasSpecial
                    ? 'check_circle_outline'
                    : 'remove_circle_outline'
            "
            [ngClass]="{
                'text-[#138636]': passwordCriteria().hasSpecial,
                'text-[#C91432]': !passwordCriteria().hasSpecial,
            }"
        />
        Un caractère spécial
    </div>
</div>
