<div class="flex min-w-0 flex-auto flex-col items-center sm:justify-center">
    <div
        class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <!-- Logo -->
            <div class="w-40">
                <img
                    alt="logo"
                    width="160"
                    height="55"
                    [src]="'images/logo/logo-stb.png'"
                />
            </div>

            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold leading-tight tracking-tight"
            >
                Définissez votre mot de passe
            </div>

            <!-- Alert -->
            @if (showAlert()) {
                <fuse-alert
                    class="mt-8"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'"
                >
                    {{ alert.message }}
                </fuse-alert>
            }

            <!-- Set password form -->
            <form
                #resetPasswordNgForm="ngForm"
                class="mt-8"
                [formGroup]="setPasswordForm"
            >
                <!-- Password field -->
                <mat-form-field class="w-full" subscriptSizing="dynamic">
                    <mat-label>Mot de passe</mat-label>
                    <input
                        #passwordField
                        id="password"
                        title="Mot de passe"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        (input)="showPasswordCriteria.set(true)"
                        (blur)="showPasswordCriteria.set(false)"
                    />
                    <button
                        mat-icon-button
                        title="basculer la visibilité du mot de passe"
                        type="button"
                        matSuffix
                        (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        "
                    >
                        @if (passwordField.type === 'password') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye'"
                            />
                        }
                        @if (passwordField.type === 'text') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye-slash'"
                            />
                        }
                    </button>
                    @if (passwordControl.hasError('required')) {
                        <mat-error> Le mot de passe est requis </mat-error>
                    }
                    @if (passwordControl.hasError('pattern')) {
                        <mat-error> Le mot de passe doit être fort </mat-error>
                    }
                </mat-form-field>
                @if (showPasswordCriteria()) {
                    <password-strength-validator
                        [password]="passwordControl.value"
                    />
                }

                <!-- Password confirm field -->
                <mat-form-field class="mt-3 w-full" subscriptSizing="dynamic">
                    <mat-label>Confirmer le mot de passe</mat-label>
                    <input
                        #passwordConfirmField
                        id="password-confirm"
                        title="Confirmer le mot de passe"
                        matInput
                        type="password"
                        [formControlName]="'passwordConfirm'"
                    />
                    <button
                        mat-icon-button
                        title="basculer la visibilité de la confirmation"
                        type="button"
                        matSuffix
                        (click)="
                            passwordConfirmField.type === 'password'
                                ? (passwordConfirmField.type = 'text')
                                : (passwordConfirmField.type = 'password')
                        "
                    >
                        @if (passwordConfirmField.type === 'password') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye'"
                            />
                        }
                        @if (passwordConfirmField.type === 'text') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye-slash'"
                            />
                        }
                    </button>
                    @if (passwordConfirmControl.hasError('required')) {
                        <mat-error>
                            La confirmation du mot de passe est requise
                        </mat-error>
                    }
                    @if (passwordConfirmControl.hasError('mustMatch')) {
                        <mat-error>
                            Les mots de passe doivent correspondre
                        </mat-error>
                    }
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large mt-5 w-full"
                    mat-flat-button
                    type="button"
                    [color]="'primary'"
                    [disabled]="setPasswordForm.disabled"
                    (click)="setPassword()"
                >
                    @if (!setPasswordForm.disabled) {
                        <span> Définir le mot de passe</span>
                    }
                    @if (setPasswordForm.disabled) {
                        <mat-progress-spinner
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        />
                    }
                </button>

                <!-- Form footer -->
                <div class="text-secondary mt-8 text-md font-medium">
                    <span>Retourner à la page de</span>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']"
                        >connexion
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
