<!-- Notifications toggle -->
<button
    #notificationsOrigin
    type="button"
    aria-label="Notifications"
    mat-icon-button
    (click)="openPanel()"
>
    @if (unreadCount() > 0) {
        <span
            class="absolute left-0 right-0 top-0 flex h-3 items-center justify-center"
        >
            <span
                class="z-30 ml-4 mt-2 flex h-4 min-w-4 shrink-0 items-center justify-center rounded-full bg-teal-600 px-1 text-xs font-medium text-indigo-50"
            >
                {{ unreadCount() > 99 ? '99+' : unreadCount() }}
            </span>
        </span>
    }
    <mat-icon [svgIcon]="'heroicons_outline:bell'" />
</button>

<!-- Notifications panel -->
<ng-template #notificationsPanel>
    <div
        class="fixed inset-0 flex flex-col overflow-hidden shadow-lg sm:static sm:inset-auto sm:w-100 sm:min-w-90 sm:rounded-2xl"
    >
        <!-- Header -->
        <div
            class="flex shrink-0 items-center bg-primary py-4 pl-6 pr-4 text-on-primary"
        >
            <div class="-ml-1 mr-3 sm:hidden">
                <button type="button" mat-icon-button (click)="closePanel()">
                    <mat-icon
                        class="text-white icon-size-5"
                        [svgIcon]="'heroicons_solid:x-mark'"
                    />
                </button>
            </div>
            <div class="text-lg font-medium leading-10">Notifications</div>
            <div class="ml-auto">
                <button
                    type="button"
                    mat-icon-button
                    [matTooltip]="'Marquer tout comme lu'"
                    [disabled]="unreadCount() === 0"
                    (click)="markAllAsRead()"
                >
                    <mat-icon
                        class="text-current icon-size-5"
                        [svgIcon]="'heroicons_solid:envelope-open'"
                    />
                </button>
                <button
                    mat-icon-button
                    type="button"
                    [matTooltip]="'Tout effacer'"
                    [disabled]="notifications().length === 0"
                    (click)="clearAll()"
                >
                    <mat-icon
                        class="text-current icon-size-5"
                        [svgIcon]="'heroicons_solid:trash'"
                    />
                </button>
                <button
                    mat-icon-button
                    type="button"
                    [matTooltip]="'Fermer'"
                    (click)="closePanel()"
                >
                    <mat-icon
                        class="text-current icon-size-5"
                        [svgIcon]="'heroicons_solid:x-mark'"
                    />
                </button>
            </div>
        </div>

        <!-- Content -->
        <div
            class="bg-card relative flex flex-auto flex-col divide-y overflow-y-auto sm:max-h-120"
        >
            <!-- Notifications -->
            @for (notification of notifications(); track notification.id) {
                <div
                    class="group flex hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5"
                    [ngClass]="{ unread: !notification.isRead }"
                >
                    <!-- Router links -->

                    <button
                        type="button"
                        class="flex flex-auto cursor-pointer py-5 pl-6"
                        (click)="navigateToNotification(notification)"
                    >
                        <ng-container *ngTemplateOutlet="notificationContent" />
                    </button>

                    <!-- Actions -->
                    <div class="relative my-5 ml-2 mr-6 flex flex-col gap-6">
                        @if (!notification.isRead) {
                            <!-- Indicator -->
                            <button
                                type="button"
                                class="h-6 min-h-6 w-6"
                                mat-icon-button
                                [matTooltip]="'Marquer comme lu'"
                                (click)="markAsRead(notification)"
                            >
                                <span
                                    class="h-2 w-2 rounded-full"
                                    [ngClass]="{
                                        'bg-gray-400 sm:opacity-0 sm:group-hover:opacity-100 dark:bg-gray-500':
                                            notification.isRead,
                                        'bg-primary': !notification.isRead,
                                    }"
                                ></span>
                            </button>
                        }

                        <!-- Remove -->
                        <button
                            class="h-6 min-h-6 w-6 sm:opacity-0 sm:group-hover:opacity-100"
                            mat-icon-button
                            type="button"
                            [matTooltip]="'Supprimer'"
                            (click)="delete(notification)"
                        >
                            <mat-icon
                                class="icon-size-4"
                                [svgIcon]="'heroicons_solid:x-mark'"
                            />
                        </button>
                    </div>
                </div>
                <!-- Notification content template -->
                <ng-template #notificationContent>
                    @switch (notification.type) {
                        @case ('FOUNDATION_DOCUMENT_UPLOADED') {
                            <!-- Foundation document uploaded notification -->
                            <div class="flex flex-auto flex-col gap-1">
                                <div class="flex items-center gap-1">
                                    <mat-icon
                                        class="text-blue-500 icon-size-6"
                                        [svgIcon]="
                                            'heroicons_solid:document-arrow-up'
                                        "
                                    />
                                    <p class="line-clamp-1 font-bold">
                                        Document fondation uploadé
                                    </p>
                                </div>
                                <div class="text-secondary text-sm">
                                    <p class="line-clamp-2">
                                        Un nouveau document a été uploadé
                                    </p>
                                </div>
                            </div>
                        }
                        @case ('FOUNDATION_DOCUMENT_VALIDATED') {
                            <!-- Foundation document validated notification -->
                            <div class="flex flex-auto flex-col gap-1">
                                <div class="flex items-center gap-1">
                                    <mat-icon
                                        class="text-green-500 icon-size-6"
                                        [svgIcon]="
                                            'heroicons_solid:check-circle'
                                        "
                                    />
                                    <p class="line-clamp-1 font-bold">
                                        Document fondation validé
                                    </p>
                                </div>
                                <div class="text-secondary text-sm">
                                    <p class="line-clamp-2">
                                        Votre document a été validé
                                    </p>
                                </div>
                            </div>
                        }
                        @case ('FOUNDATION_DOCUMENT_REJECTED') {
                            <!-- Foundation document rejected notification -->
                            <div class="flex flex-auto flex-col gap-1">
                                <div class="flex items-center gap-1">
                                    <mat-icon
                                        class="text-red-500 icon-size-6"
                                        [svgIcon]="'heroicons_solid:x-circle'"
                                    />
                                    <p class="line-clamp-1 font-bold">
                                        Document fondation rejeté
                                    </p>
                                </div>
                                <div class="text-secondary text-sm">
                                    <p class="line-clamp-2">
                                        Votre document a été rejeté
                                    </p>
                                </div>
                            </div>
                        }
                        @case ('NEW_TRANSFER_CREATED') {
                            <notif-transfer-notification
                                [notification]="notification"
                            />
                        }
                        @case ('TRANSFER_APPROVED') {
                            <notif-transfer-notification
                                [notification]="notification"
                            />
                        }
                        @case ('TRANSFER_REJECTED') {
                            <notif-transfer-notification
                                [notification]="notification"
                            />
                        }
                        @case ('TRANSFER_COMPLETED') {
                            <notif-transfer-notification
                                [notification]="notification"
                            />
                        }
                        @case ('TRANSFER_FAILED') {
                            <notif-transfer-notification
                                [notification]="notification"
                            />
                        }
                    }
                </ng-template>
            }

            @if (notifications().length === 0 && !loadingNotifications()) {
                <div
                    class="flex flex-auto flex-col items-center justify-center px-8 py-12 sm:justify-start"
                >
                    <div
                        class="flex h-14 w-14 flex-0 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-600"
                    >
                        <mat-icon
                            class="text-primary-700 dark:text-primary-50"
                            [svgIcon]="'heroicons_outline:bell'"
                        />
                    </div>
                    <div class="mt-5 text-2xl font-semibold tracking-tight">
                        Aucune notification
                    </div>
                    <div
                        class="text-secondary mt-1 w-full max-w-60 text-center text-md"
                    >
                        Lorsque vous recevrez des notifications, elles
                        apparaîtront ici
                    </div>
                </div>
            }

            @if (loadingNotifications()) {
                <div class="flex h-full w-full items-center justify-center">
                    <mat-progress-spinner
                        mode="indeterminate"
                        [diameter]="80"
                    />
                </div>
            }
        </div>
    </div>
</ng-template>
